<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL - TinyApp Example</title>
</head>

<body>
  <% include ./partials/_header.ejs %>

  <% if(!access){ %>
<!--Modal -->

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Access Denied</h5>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You don't have access to this TinyURL! If this TinyURL belongs to you, please login to the associated account for access.
      </div>
      <div class="modal-footer">
        <a href="/login" type="button" class="btn btn-warning" role="button">Login</a>
      </div>
    </div>
  </div>

  <% } else { %>

  <div class="card text-center">
    <div class="card-header"></div>
    <div class="card-body">
      <h5 class="card-title text-muted font-weight-light">TinyURL for: <b class="text-dark font-weight-bold"><%= longURL %></b></h5>
      <p class="card-text text-muted">TinyURL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></p>
    </div>
    <div class="card-footer text-center">
      <label for="card-footer">
        <h5 class="text-muted font-weight-light">Edit this TinyURL</h5>
      </label>
      <form class="form-horizontal text-muted" action="/urls/<%= shortURL %>" method="POST">
        <label for="newURL">Where do you want the TinyURL <b class="text-success"><%= shortURL %></b> to go?</label>
        <input class="form-control" type="text" name="newURL" placeholder="http://" style="width: 300px; margin: auto">
        <button type="submit" class="btn btn-success" style="margin-top: 10px;";">Submit</button>
      </form>
    </div>
  </div>
  <% } %>


  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>